<!--
  Columns are always 50% wide, on mobile and desktop
  <div class="row">
    <div class="col-3"><app-currentforecast></app-currentforecast></div>
    <div class="col-3">.col-6</div>
    <div class="col-3">.col-6</div>
    <div class="col-3">.col-6</div>
  </div>
-->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row center">
  <div class="col-sm-2"><app-currentforecast></app-currentforecast></div>
  <div class="col-sm-2"><app-dayforecast></app-dayforecast></div>
  <div class="col-sm-2"><app-day2></app-day2></div>
  <div class="col-sm-2"><app-day3></app-day3></div>
  <div class="col-sm-2"><app-day4></app-day4></div>
  <div class="col-sm-2"><app-day5></app-day5></div>
</div>
