<div class="card">
  <div class="card-header">Day 5</div>
  <div class="card-body">
    <h3 class="card-title">{{ this.currentWeather.list[36].dt_txt }}</h3>
    <p class="card-text">
      {{ this.currentWeather.list[36].weather[0].description }}
    </p>
    <h3 class="card-text" id="temp">
      {{ this.currentWeather.list[36].main.temp }}<sup><i class="fas fa-asterisk fa-xs"></i></sup>
    </h3>
    <br />
    <p class="card-text">
      High {{ this.currentWeather.list[36].main.temp_max }}<br />
      Low {{ this.currentWeather.list[36].main.temp_min }}
    </p>
  </div>
  <div class="card-footer bg-light border-primary">
    <small class="text-muted">Last updated 3 mins ago</small>
  </div>
</div>
